/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
  .virtuspro{
    left: 760px;
  }

  .team{
    width: 725px;
    left: 622px;
  }

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .virtuspro{
    /*display: none;*/
    width: 450px;
    height: 471px;
    left: 493px;
    top: 140px;
  }

  .team{
    /*display: none;*/
    width: 586px;
    height: 440px;
    left: 410px;
    top: 500px;
  }

  .name{
    padding-right: 0px;
    padding-left: 15px;
    font-size: 24px;
  }

  .menu li{
    font-size: 20px;
    margin-right: 13px;
  }

  .text-fon{
    width: 457px;
    height: 782px;
    left: 30px;
    top: 130px;
  }

  .text1{
    width: 410px;
    height: 442px;
    left: 64px;
    top: 136px;
  }

  .text2{
    width: 410px;
    height: 269px;
    left: 64px;
    top: 391px;
  }

  .text3{
    margin-left: 60px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu{
    padding-left: 30px;
  }

  .menu li {
    font-size: 17px;
    margin-right: 13px;
    padding-left: 0px;
  }

  .name {
    padding-right: 0px;

    font-size: 18px;
  }

  .team{
    display: none;
  }

  .virtuspro {
    /* display: none; */
    width: 312px;
    height: 460px;
    left: 454px;
    top: 230px;
  }

  .text-fon {
    width: 444px;
    height: 666px;
    left: 15px;
    top: 90px;
  }

  .text1 {
    width: 400px;
    height: 360px;
    left: 45px;
    top: 122px;
    font-size: 18px;
  }

  .text2 {
    width: 400px;
    height: 330px;
    left: 45px;
    top: 339px;
    font-size: 18px;
  }

  .text3style{
    font-size: 18px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header{
    background: linear-gradient(110.77deg, #262525 31.11%, #FF9330 20.11%);
  }

  .virtuspro{
    display: none;
  }

  .menu{
    display: none;
  }

  .menu-open{
    display: block;
    position: absolute; 
    top: 20px; 
    left: 88%;
  }

  .text3style{
    margin-left: 35px;
    margin-right: 40px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header{
    background: linear-gradient(110.77deg, #262525 45.11%, #FF9330 20.11%);
  }

  .menu-open{
    left: 78%;
  }

  .header .show-menu{
    left: 55%;
  }

  .text-fon{
    width: 312px;
    height: 890px;
    left: 5px;
    top: 85px;
  }

  .text1{
    width: 270px;
    top: 107px;
    left: 0px;
  }

  .text2{
    width: 270px;
    top: 415px;
    left: 0px;
  }

  .text3style{
    margin-left: 15px;
    margin-right: 18px;
    padding-bottom: 40px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
