/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media (max-width: 1500px) {
  .markeloffimg {
    height: 470px;
    padding-bottom: 64px;
  }

  .zeusimg {
    height: 584px;
    padding-bottom: 88px;
  }

  .edwardimg {
    height: 525px;
    padding-bottom: 45px;
  }

  .stariximg {
    padding-bottom: 20px;
  }
}
/* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  .name {
    padding-right: 0px;
    padding-left: 15px;
    font-size: 24px;
  }

  .menu li {
    font-size: 20px;
    margin-right: 13px;
  }

  .bleft-text {
    padding-left: 125px;
  }

  .markeloffimg {
    width: 480px;
    height: 410px;
    margin-left: 18px;
    padding-bottom: 0px;
  }

  .zeusimg {
    width: 480px;
    height: 465px;
    margin-left: 18px;
    padding-bottom: 0px;
  }

  .ceh9img {
    width: 480px;
    height: 410px;
    margin-left: 10px;
    padding-right: 15px;
  }

  .edwardimg {
    width: 480px;
    height: 410px;
    margin-left: 18px;
    padding-bottom: 0px;
  }

  .stariximg {
    width: 480px;
    height: 410px;
    margin-left: 18px;
    padding-bottom: 0px;
  }
}
/* Medium Devices, Desktops */
@media (max-width: 992px) {
  .menu {
    padding-left: 30px;
  }

  .menu li {
    font-size: 17px;
    margin-right: 13px;
    padding-left: 0px;
  }

  .name {
    padding-right: 0px;

    font-size: 18px;
  }

  .bleft-text {
    font-size: 18px;
  }

  .btext {
    font-size: 18px;
  }

  .markeloffimg {
    width: 380px;
    height: 335px;
  }

  .zeusimg {
    width: 380px;
    height: 365px;
  }

  .ceh9img {
    width: 380px;
    height: 335px;
    margin-left: 0px;
  }

  .edwardimg {
    width: 380px;
    height: 335px;
  }

  .stariximg {
    width: 380px;
    height: 335px;
  }
}
/* Small Devices, Tablets */
@media (max-width: 768px) {
  .header {
    background: linear-gradient(110.77deg, #262525 31.11%, #ff9330 20.11%);
  }

  .menu {
    display: none;
  }

  .menu-open {
    display: block;
    position: absolute;
    top: 20px;
    left: 88%;
  }

  .bleft-text {
    padding-left: 60px;
    padding-right: 35px;
  }

  .btext {
    padding-left: 60px;
    padding-right: 35px;
  }

  .markeloffimg {
    width: 430px;
    height: 370px;
    margin-left: 25px;
  }

  .zeusimg {
    width: 430px;
    height: 395px;
    margin-left: 25px;
  }

  .ceh9img {
    width: 430px;
    height: 370px;
    padding-right: 25px;
  }

  .edwardimg {
    width: 430px;
    height: 370px;
    margin-left: 25px;
  }

  .stariximg {
    width: 430px;
    height: 370px;
    margin-left: 25px;
  }
}
/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  .header {
    background: linear-gradient(110.77deg, #262525 45.11%, #ff9330 20.11%);
  }

  .menu-open {
    left: 78%;
  }

  .header .show-menu {
    left: 55%;
  }

  .leftimg {
    float: none;
  }

  .rightimg {
    float: none;
  }

  .bleft-text {
    padding-left: 32px;
    padding-right: 22px;
  }

  .btext {
    padding-left: 32px;
    padding-right: 22px;
  }

  .markeloffimg {
    width: 270px;
    height: 255px;
    margin-left: 23px;
  }

  .zeusimg {
    width: 270px;
    height: 275px;
    margin-left: 23px;
  }

  .ceh9img {
    width: 270px;
    height: 255px;
    margin-left: 23px;
  }

  .edwardimg {
    width: 270px;
    height: 255px;
    margin-left: 23px;
  }

  .stariximg {
    width: 270px;
    height: 255px;
    margin-left: 23px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
