/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
  .textgame{
    margin-right: 175px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .name{
    padding-right: 0px;
    padding-left: 15px;
    font-size: 24px;
  }

  .menu li{
    font-size: 20px;
    margin-right: 13px;
  }

  .textgame{
    margin-right: 75px;
  }

  .size{
    width: 800px;
    margin-left: 90px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu{
    padding-left: 30px;
  }

  .menu li {
    font-size: 17px;
    margin-right: 13px;
    padding-left: 0px;
  }

  .name {
    padding-right: 0px;

    font-size: 18px;
  }

  .container{
    font-size: 20px;
  }

  .h5pad{
    font-size: 18px;
    padding-left: 50px;
  }

  .size{
    width: 650px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header{
    background: linear-gradient(110.77deg, #262525 31.11%, #FF9330 20.11%);
  }

  .menu{
    display: none;
  }

  .menu-open{
    display: block;
    position: absolute; 
    top: 20px; 
    left: 88%;
  }

  .size{
    width: 390px;
    margin-left: 72px;
  }

  .h5pad{
    padding-left: 33px;
  }

  .img1{
    padding-bottom: 150px;
  }

  .bottom1{
    padding-bottom: 140px;
  }

  .img2{
    padding-bottom: 250px;
  }

  .bottom2{
    padding-bottom: 235px;
  }

  .img3{
    padding-bottom: 4px;
  }

  .bottom3{}

  .img4{
    padding-bottom: 5px;
  }

  .bottom4{}

  .img5{
    padding-bottom: 69px;
  }

  .bottom5{
    padding-bottom: 75px;
  }

  .img6{
    padding-bottom: 0px;
  }

  .bottom6{}

  .img7{
    padding-bottom: 22px;
  }

  .bottom7{
    padding-bottom: 32px;
  }

  .img8{
    padding-bottom: 0px;
  }

  .bottom8{}

  .img9{
    padding-bottom: 66px;
  }

  .bottom9{
    padding-bottom: 75px;
  }

  .img10{
    padding-bottom: 110px;
  }

  .bottom10{
    padding-bottom: 122px;
  }

  .img11{
    padding-bottom: 20px;
  }

  .bottom11{
    padding-bottom: 32px;
  }

  .img12{
    padding-bottom: 20px;
  }

  .bottom12{
    padding-bottom: 30px;
  }

  .img13{
    padding-bottom: 25px;
  }

  .bottom13{
    padding-bottom: 26px;
  }

  .img14{
    padding-bottom: 0px;
  }

  .bottom14{}

  .img15{
    padding-bottom: 50px;
  }

  .bottom15{}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header{
    background: linear-gradient(110.77deg, #262525 45.11%, #FF9330 20.11%);
  }

  .menu-open{
    left: 78%;
  }

  .header .show-menu{
    left: 55%;
  }

  .leftimg{
    float: none;
  }

  .textgame{
    margin-left: 20px;
    margin-right: 25px;
  }

  .size{
    width: 275px;
    margin-left: 55px;
  }

  .img1{
    padding-bottom: 0px;
  }

  .bottom1{
    padding-bottom: 286px;
  }

  .img2{
    padding-bottom: 0px;
  }

  .bottom2{
    padding-bottom: 357px;
  }

  .img3{
    padding-bottom: 0px;
  }

  .bottom3{
    padding-bottom: 172px;
  }

  .img4{
    padding-bottom: 0px;
  }

  .bottom4{
    padding-bottom: 150px;
  }

  .img5{
    padding-bottom: 0px;
  }

  .bottom5{
    padding-bottom: 242px;
  }

  .img6{
    padding-bottom: 0px;
  }

  .bottom6{
    padding-bottom: 172px;
  }

  .img7{
    padding-bottom: 0px;
  }

  .bottom7{
    padding-bottom: 196px;
  }

  .img8{
    padding-bottom: 0px;
  }

  .bottom8{
    padding-bottom: 102px;
  }

  .img9{
    padding-bottom: 0px;
  }

  .bottom9{
    padding-bottom: 239px;
  }

  .img10{
    padding-bottom: 0px;
  }

  .bottom10{
    padding-bottom: 262px;
  }

  .img11{
    padding-bottom: 0px;
  }

  .bottom11{
    padding-bottom: 218px;
  }

  .img12{
    padding-bottom: 0px;
  }

  .bottom12{
    padding-bottom: 195px;
  }

  .img13{
    padding-bottom: 0px;
  }

  .bottom13{
    padding-bottom: 195px;
  }

  .img14{
    padding-bottom: 0px;
  }

  .bottom14{
    padding-bottom: 150px;
  }

  .img15{
    padding-bottom: 0px;
  }

  .bottom15{
    padding-bottom: 150px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
