/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
  .divleft{
    width: 544px;
    margin-left: 180px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .name{
    padding-right: 0px;
    padding-left: 15px;
    font-size: 24px;
  }

  .menu li{
    font-size: 20px;
    margin-right: 13px; 
  }

  .divleft{
    width: 462px;
    margin-left: 25px;
    margin-bottom: 15px;
  }

  .divright{
    width: 500px;
  }

  .leftimg{
    width: 125px;
    height: 150px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu{
    padding-left: 30px;
  }

  .menu li {
    font-size: 17px;
    margin-right: 13px;
    padding-left: 0px;
  }

  .name {
    padding-right: 0px;

    font-size: 18px;
  }

  h4{
    font-size: 18px;
  }

  .leftimg{
    width: 100px;
    height: 125px;
  }

  .divleft{
    font-size: 18px;
    width: 355px;
    margin-left: 18px;
  }

  .divright{
    font-size: 18px;
    width: 382px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header{
    background: linear-gradient(110.77deg, #262525 31.11%, #FF9330 20.11%);
  }

  .menu{
    display: none;
  }

  .menu-open{
    display: block;
    position: absolute; 
    top: 20px; 
    left: 88%;
  }

  h4{
    font-size: 16px;
  }

  .divleft{
    margin-left: 70px;
  }

  .divright{
    margin-left: 75px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header{
    background: linear-gradient(110.77deg, #262525 45.11%, #FF9330 20.11%);
  }

  .menu-open{
    left: 78%;
  }

  .header .show-menu{
    left: 55%;
  }

  h4{
    font-size: 15px;
  }

  .divleft{
    font-size: 16px;
    width: 310px;
    margin-left: 5px;
  }

  .divright{
    font-size: 16px;
    width: 310px;
    margin-left: 5px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
