/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
  
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .name{
    padding-right: 0px;
    padding-left: 15px;
    font-size: 24px;
  }

  .menu li{
    font-size: 20px;
    margin-right: 13px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu{
    padding-left: 30px;
  }

  .menu li {
    font-size: 17px;
    margin-right: 13px;
    padding-left: 0px;
  }

  .name {
    padding-right: 0px;

    font-size: 18px;
  }

  .h4center{
    font-size: 18px;
  } 

  .h5name{
    font-size: 18px;
  }

  p{
    font-size: 20px;
  }

  .imgwidth{
    width: 750px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header{
    background: linear-gradient(110.77deg, #262525 31.11%, #FF9330 20.11%);
  }

  .menu{
    display: none;
  }

  .menu-open{
    display: block;
    position: absolute; 
    top: 20px; 
    left: 88%;
  }

  p{
  margin-left: 50px;
  margin-right: 50px;
  }

  .imgwidth{
    width: 475px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header{
    background: linear-gradient(110.77deg, #262525 45.11%, #FF9330 20.11%);
  }

  .menu-open{
    left: 78%;
  }

  .header .show-menu{
    left: 55%;
  }

  .h4center{
    font-size: 17px;
  } 

  .h5name{
    font-size: 17px;
  }

  p{
    font-size: 18;
    margin-left: 35px;
    margin-right: 25px;
  }

  .imgwidth{
    width: 310px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
