body {
	padding: 0;
	margin: 0;
	/*background: url('../img/fon.jpg');*/
	background-color: #2F2F2F;
	font-family: 'Montserat';
	color: white;
	font-size: 24px;
}

.header {
	/*background: url('../img/header-bg.jpg') no-repeat center top / cover;
	position: absolute;
	
	height: 74px;
	left: 0px;
	top: 0px;

	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);*/

	
	height: 65px;
	background: linear-gradient(110.77deg, #262525 20.11%, #FF9330 20.11%);
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.container {
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.nav{
	display: flex;
}

.name {
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 40px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	font-size: 36px;

}

.text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 44px;
	/*font-size: 36px;*/
}

.menu {
	margin-top: 0px;
	display: flex;
}

.menu li {
	margin-right: 23px;
	margin-top: 20px;
	list-style-type: none ;
}

.menu li a:hover {
	text-decoration: underline;
	border-bottom: 1px solid #fff;
}

.menu li a:link, a:visited
{
	color: #ffffff;
	text-decoration: none;
}

.menu-open{
	background: none;
	border: none;
	display: none;
}

.header .show-menu{
	display: block;
	position: absolute;
	left: 65%;
	top: 50px;
	z-index: 100;
	background: #FF9330;
	padding-bottom: 15px;
}

.text-fon {
	position: absolute;
	width: 710px;
	height: 540px;
	left: 30px;
	top: 187px;
}
.enter {
	margin-left: 256px;
	border: 2px solid white;
	padding: 5px 20px;
	border-radius: 90px;

}
.enter:hover{
	border-color: #2F2F2F;
	border-bottom: 2px solid #2F2F2F !important;
}

 
.text1 {
	position: absolute;
	width: 669px;
	height: 442px;
	left: 64px;
	top: 221px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.text2 {
	position: absolute;
	width: 642px;
	height: 269px;
	left: 64px;
	top: 391px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.text3{
	margin-top: 950px;
	margin-left: 75px;
	margin-right: 75px;
}

.text3style{
	margin-top: 940px;
	margin-left: 75px;
	margin-right: 75px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
}

.virtuspro {
	position: absolute;
	width: 483px;
	height: 487px;
	left: 922px;
	top: 101px;
}

.team {
	position: absolute;
	/*width: 821px;*/
	height: 519px;
	left: 733px;
	top: 381px;
}

/*new.html*/

.navi{
	padding-top: 53.28px;
	padding-left: 45px;
}

.text-navi{
	float: right;
	height: 450px;
	width: 760px;
	margin-right: 30px;
}

.text-spirit{
	float: left;
	height: 450px;
	width: 660px;

	padding-top: 100px;
	padding-left: 45px;
}

.spirit{
	margin-left: 70px;
	margin-top: 75px;
}

/*organizations.html*/



/*biography.html*/

.leftimg{
    float:left; /* Выравнивание по левому краю */
	margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.rightimg{
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}

.markeloffimg{
	border-radius: 75px;
	width: 600px;
	height: 400px;
	margin-left: 55px;
	margin-top: 5px;
	padding-right: 15px;
}

.btext{
	padding-top: 5px;
	padding-left: 130px;
	padding-right: 120px;
}

.bleft-text{
	padding-right: 20px;
}

.zeusimg{
	border-radius: 75px;
	width: 600px;
	height: 500px;
	margin-left: 55px;
	margin-top: 5px;
	padding-right: 15px;
}

.ceh9img{
	border-radius: 75px;
	width: 600px;
	height: 500px;
	margin-left: 55px;
	margin-top: 5px;
	padding-right: 15px;
}

.edwardimg{
	border-radius: 75px;
	width: 600px;
	height: 500px;
	margin-left: 55px;
	margin-top: 5px;
	padding-right: 15px;
}

.stariximg{
	border-radius: 75px;
	width: 600px;
	height: 500px;
	margin-left: 55px;
	margin-top: 50px;
	padding-right: 15px;
}

.footer{
	height: 150px;
}

/*prize.html*/
