.divleft{
    float: left;
    width: 600px;
    /*border: 1px solid white;*/
    margin-left: 300px;
    margin-bottom: 30px;
}

.divright{
    float: left;
    width: 600px;
    /*border: 1px solid white;*/
    margin-bottom: 20px;
}

a:link, a:visited
{
    color: #ffffff;
    text-decoration: none;
}